body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --icon-fill: rgba(0, 0, 0, 0.6);

  --inset0: 4px;
  --inset1: 8px;
  --inset2: 16px;
  --inset3: 24px;
  --inset4: 32px;
  --inset5: 56px;
  --inset6: 64px;
  --inset7: 128px;
}
